{% extends "base.html" %}
{% block content %}
    <br>
    <h2> Загадки </h2>
    <br>
    <table border=2 cellpadding=5>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Координаты (долгота,широта)</th>
            <th>Количество решивших</th>
        </tr>
        {% for riddle in riddles %}
            <tr>
                <td><a href="riddles/{{ riddle.id }}">{{ riddle.id }}</a></td>
                <td>{{ riddle.name }}</td>
                <td>{{ format_pos(riddle) }}</td>
                <td>{{ len(riddle.founds) }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
