{% extends "base.html" %}
{% block scripts %}
    <script type="text/javascript" src="/anomaly_on_map.js"></script>
    <script type="text/javascript" src="/anomaly.js"></script>
{% endblock %}
{% block content %}
    <table>
        <tr>
            <td>
                <img id="map" coords="{{anomaly.pos}}">
            </td>
            <td>
                <h1>{{ anomaly.name }}</h1>
                {{ anomaly.desc }}
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.ans.label }}<br>
                        {{ form.ans(class="form-control") }}<br>
                        {% for error in form.ans.errors %}
                            <p content="alert alert-danger" role="alert">
                                {{ error }}
                            </p>
                        {% endfor %}
                    </p>
                    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                    <div>{{ message }}</div>
                </form>
            </td>
        </tr>
    </table>
    Следующие пользователи нашли артефакт:
    <ul>
        {% for found in anomaly.founds %}
            <li>{{ found.user.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
