{% extends "base.html" %}
{% block content %}
    Это геолокационнаяя игра, в которой каждый пользователь действует независимо от других.
    Для участия необходимо войти или зарегистрироваться.
    На карте вы увидите места, где расположены аномалии.
    Каждая аномалия — это точка на местности, в которой нужно найти ответ на вопрос.
    Ответом может быть число или слово.
    Правильный ответ добавляет балл к вашему рейтингу.
    Набирая баллы, вы соревнуетесь с другими игроками.
{% endblock %}
