{% extends "base.html" %}
{% block content %}
    <p>
        ГеоКвиз — это геолокационная игра, в которой каждый пользователь действует независимо от других.
        Для участия необходимо войти или зарегистрироваться.
        На карте вы увидите места, где расположены загадки.
        Чтобы отгадать загадку, необходимо посетить это место и найти там ответ.
        Ответом может быть число или слово.
        Правильный ответ добавляет 5 баллов к вашему рейтингу.
        За неправильный ответ вы теряете 1 балл.
    </p>
    <p>
        Также вы можете сами создавать загадки.
        Для этого выберите место и вопрос, на который можно ответить, только находясь там.
        Определите географические координаты этого места.
        За создание загадки вы получаете 5 баллов.
    </p>
{% endblock %}
