{% extends "base.html" %}
{% block content %}
    Это геолокационная игра, в которой каждый пользователь действует независимо от других.
    Для участия необходимо войти или зарегистрироваться.
    На карте вы увидите места, где расположены загадки.
    Ответом может быть число или слово.
    Правильный ответ добавляет 5 баллов к вашему рейтингу.
    За неправильный ответ вы теряете 3 балла.
    Набирая баллы, вы соревнуетесь с другими игроками.
    Также вы можете сами создавать загадки.
    За создание загадки вы получаете 5 баллов.
{% endblock %}
