{% extends "base.html" %}
{% block scripts %}
    <script type="text/javascript" src="/map.js"></script>
    <script type="text/javascript" src="/to_page.js"></script>
{% endblock %}
{% block content %}
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <td></td>
                        <td>
                            <div align="center">
                                <button onclick="moveUp()"> ^ </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button onclick="moveLeft()"> < </button>
                        </td>
                        <td>
                            <img id="map">
                        </td>
                        <td>
                            <button onclick="moveRight()"> > </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button onclick="zoomIn()"> + </button>
                        </td>
                        <td>
                            <div align="center">
                                <button onclick="moveDown()"> v </button>
                            </div>
                        </td>
                        <td>
                            <button onclick="zoomOut()"> - </button>
                        </td>
                    </tr>
                </table>
            </td>
            <td>&nbsp;</td>
            <td>
                <a href="/help"> Как играть </a>
                <br><br><br><br>
                <p>
                    <a href="/all-riddles"> Загадки </a>
                </p>
                <p>
                    Введите ID загадки, чтобы перейти на её страницу:
                </p>
                <p>
                    <input type="number" id="riddle_id">
                </p>
                <p>
                    <button onclick="toRiddlePage()"> Перейти к описанию загадки </button>
                </p>
                {% if current_user.is_authenticated %}
                    <p>
                        <a href="/new_riddle"> Создать новую загадку </a>
                    </p>
                {% endif %}
            </td>
        </tr>
    </table>
    <br>
    <p>
        Введите логин игрока, чтобы перейти на его страницу:
        <input type="text" id="user_id">
        <button onclick="toUserPage()">Перейти на страницу игрока</button>
    </p>
    <p>
        <a href="/score-table">Результаты</a>
    </p>
{% endblock %}
