{% extends "base.html" %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='/riddle_on_map.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/riddle.js') }}"></script>
{% endblock %}
{% block content %}
    <table>
        <tr>
            <td>
                <img id="map" coords="{{riddle.pos}}">
            </td>
            <td>&nbsp;</td>
            <td>
                <h1>{{ riddle.name }}</h1>
                {{ riddle.desc }}
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.ans.label }}<br>
                        {{ form.ans(class="form-control") }}<br>
                        {% for error in form.ans.errors %}
                            <p content="alert alert-danger" role="alert">
                                {{ error }}
                            </p>
                        {% endfor %}
                    </p>
                    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                    <div>{{ message }}</div>
                </form>
                Автор загадки: {{ riddle.author.name }} ({{ riddle.author.login }})
                {% if current_user.is_authenticated and current_user.id == riddle.author.id %}
                    <a href="/riddles/{{ riddle.id }}/edit">Редактировать</a>
                {% else %}
                    <a href="mailto:asvasil22@gmail.com">Сообщить о неточности</a>
                {% endif %}
            </td>
        </tr>
    </table>
    Следующие игроки разгадали загадку:
    <ul>
        {% for found in riddle.founds %}
            <li><a href="/users/{{ found.user.login }}">{{ found.user.name }} ({{ found.user.login }})</a></li>
        {% endfor %}
    </ul>
{% endblock %}
