{% extends "base.html" %}
{% block content %}
    <br>
    <h2> Таблица результатов </h2>
    <br>
    <table border=2 cellpadding=5>
        <tr>
            <th>Логин</th>
            <th>Имя</th>
            <th>Дата регистрации</th>
            <th>Рейтинг</th>
        </tr>
        {% for user in users %}
            <tr>
                <td><a href="/users/{{ user.login }}">{{ user.login }}</a></td>
                <td>{{ user.name }}</td>
                <td>{{ user.created_date.strftime("%Y-%m-%d %H:%M") }}</td>
                <td>{{ user.score }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
