{% extends "base.html" %}
{% block content %}
    <p>
        {{ user.name }} ({{ user.login }})
    </p>
    <p>
        Зарегистрирован {{ user.created_date.strftime("%Y-%m-%d %H:%M") }}
    </p>
    <p>
        Рейтинг: {{ user.score }}
    </p>
    <p>
        Разгадал(а) загадки:
        <ul>
            {% for found in user.founds %}
                <li><a href="/riddles/{{ found.riddle.id }}">{{ found.riddle.name }}</a></li>
            {% endfor %}
        </ul>
    </p>
    <p>
        Создал(а) загадки:
        <ul>
            {% for riddle in user.riddles %}
                <li><a href="/riddles/{{riddle.id }}">{{ ridddle.name }}</a></li>
            {% endfor %}
        </ul>
    </p>
{% endblock %}
